# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
    tags: [ "v*", "ci-test/**" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      artifact-id: ${{ steps.upload-artifact.outputs.artifact-id }}
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive
        fetch-tags: true
        fetch-depth: 1
        ref: ${{ github.ref }}
    - name: Git setup
      run: git config --global commit.gpgsign false && git config --global user.email olauncher@example.com && git config --global user.name olauncher
    - name: Set up JDK 11
      uses: actions/setup-java@v5
      with:
        java-version: '11'
        distribution: 'zulu'
        cache: maven
    - name: Set up OLauncher
      run: bash decompile.sh && bash init.sh && bash apply_all_patches.sh
      
    - name: Build with Maven
      run: |
        wget https://raw.githubusercontent.com/luisgamercool-oss/glowing-spork/refs/heads/master/pom.xml
        mvn --batch-mode --update-snapshots verify
      
    - name: Generate redistributable
      run: bash genredist.sh
      
    - name: Upload redistributable
      uses: actions/upload-artifact@v5
      id: upload-artifact
      with:
        name: OLauncher Redistributable JAR
        path: olauncher-*-redist.jar
